body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    height: 100vh; 
    background: linear-gradient(180deg, var(--backgound-color2) 31.77%, var(--backgound-color1) 100%);
}
:root{
    --backgound-color1: #00BBD5 ;
    --backgound-color2: #E6F4FE ;
    --text-color: #113264 ;
    --title-color: #0588F0 ;
    --border-color: #ACD8FC;
}
.dark-mode{
    --backgound-color1: #0D2847 ;
    --backgound-color2: #0D1520 ;
    --text-color: #C2E6FF ;
    --title-color: #3B9EFF ;
    --border-color: #003362;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 124px 0px 120px;
    color: var(--text-color);
   
}
.header__logo{
    display: flex;
    transition: 1s;
}
.header__logo--x{
    color: var(--title-color);
}
.header__navbar{
    display: flex;
    gap: 20px;
    transition: 1s;
}
.header__navbar ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.header__navbar a{
    text-decoration: none;
    color: var(--text-color);
}
.header__navbar a:hover{
    color: var(--backgound-color1);
}
.header__contact button{
    height: 35px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    color: var(--backgound-color2);
    background:var(--title-color) ;
    font-size: 20px;
    transition: 1s;
}
.header__contact button:hover{
    color: var(--text-color);
    background:linear-gradient(30deg, var(--backgound-color2) 31.77%, var(--backgound-color1) 100%) ;
}
.header__mode{
    margin-top: 8px;
    font-size: 35px;
    transition: 1s;
}
.header__mode:hover{
    color: var(--backgound-color1);
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 124px 0px 120px;
    height: calc(100% - 88.83px);
}
.home__info{
    width: 50%;
    color: var(--text-color);
}
.home__info h2{
    font-size: 30px;
    margin: 0px;
    transition: 1s;
}
.home__info h1{
    font-size: 50px;
    margin: 0px;
    color: var(--title-color);
    font-weight: 700;
    transition: 1s;
}
.home__info p{
    transition: 1s;
}
.home__profil{
    width: 550px;
    height: 500px;
    background-color: var(--title-color);
    border-radius:37% 63% 31% 69% / 59% 42% 58% 41%  ;
    overflow: hidden;
    transition: 1s;
}
.home__profil img{
    width: 550px;
    transition: 1s;
}
.home__info--logos a{
    font-size: 30px;
    color: var(--text-color);
    transition: 1s;
}
.home__info--logos a:hover{
    color: var(--backgound-color1);
}
.home__info--btn button{
    height: 45px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: var(--backgound-color2);
    background:var(--title-color) ;
    font-size: 20px;
    transition: 1s;
}
.home__info--btn button:hover{
    color: var(--text-color);
    background:linear-gradient(30deg, var(--backgound-color2) 31.77%, var(--backgound-color1) 100%) ;
}

